<div class="top">
  <h1>My Instruments</h1>
  <h2><%= link_to "Add an instrument", new_instrument_path , class: "btn btn-success small-button" %></h2>
</div>
<div class="contener" style="display: flex;">
  <div class="container">
    <div class="row">
      <% @instruments.each do |instrument| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: url(<%= cl_image_path instrument.image %>);">
          <%= link_to "", edit_instrument_path(instrument), class: "card-link" %>
          <!-- ajouter ici les infos de rating moyen + nombre de bookings -->
          <p><strong><em><%= instrument.address %></strong></em></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>



<h2>My bookings</h2>
  <!-- les locations d instruments que j ai faites aupres d autres personnes -->
  <ul>
    <% @bookings.each do |booking| %>
    <li>
      <%= cl_image_tag booking.instrument.image, height: 150, width: 200, crop: :fill  %>
      <%= booking.instrument.title %>
      <%= cl_image_tag booking.instrument.user.avatar, id: "dashboard-avatar-user" %><br>
      from: <%= booking.start_date %> to: <%= booking.end_date %>
      <% if booking.validated.nil? %>
       - <em>Pending..</em>
      <% elsif booking.validated %>
       - <strong>Validated !</strong>
      <% else %>
       - <em><strong>Aborted =(</em></strong>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
<div>
  <h2>foreign bookings</h2>
  <!-- les personnes qui m ont loue un de mes instrument ou qui me demandent pour le louer -->
  <ul>
    <% @foreign_bookings.each do |booking| %>
    <li>
      <%= cl_image_tag booking.instrument.image, height: 150, width: 200, crop: :fill  %>
      <%= booking.instrument.title %>
      <%= cl_image_tag booking.user.avatar, id: "dashboard-avatar-user" %><br>
      from: <%= booking.start_date %> to: <%= booking.end_date %>
      <% if booking.validated.nil? %>
       <br>
       <%= link_to "validated", '#' , class: "btn-push" %>
       <%= link_to "aborted", '#' , class: "btn-push" %>
      <% elsif booking.validated %>
       - <strong>Validated !</strong>
      <% else %>
       - <em><strong>Aborted =(</em></strong>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
