<h1>my dashboard</h1>
<div>
  <h2>my instruments</h2>
  <p>
    <%= link_to "add", new_instrument_path , class: "btn btn-primary" %>
  </p>
  <ul>
    <% @instruments.each do |instrument| %>
    <li>
      <%= cl_image_tag instrument.image, height: 150, width: 200, crop: :fill  %>
      <%= instrument.title %>
      <%= link_to "edit", edit_instrument_path(instrument) , class: "btn btn-primary" %>
    </li>
    <% end %>
  </ul>
</div>
<div>
  <h2>my bookings</h2>
  <!-- les locations d instruments que j ai faites aupres d autres personnes -->
  <ul>
    <% @bookings.each do |booking| %>
    <li>
      <%= cl_image_tag booking.instrument.image, height: 150, width: 200, crop: :fill  %>
      <%= booking.instrument.title %>
      <%= cl_image_tag booking.instrument.user.avatar, id: "dashboard-avatar-user" %><br>
      from: <%= booking.start_date %> to: <%= booking.end_date %>
      <% if booking.validated.nil? %>
       - pending
      <% elsif booking.validated %>
       - validated
      <% else %>
       - aborted
      <% end %>

      <!-- change rating of this booking -->

      <div id="form-change-rating">
        <%= simple_form_for booking, remote: true, url: changerating_booking_path(booking), method: :get do |f| %>
          <%= f.input :rating, collection: ['0', '1', '2', '3', '4', '5'] %>
          <%= f.submit "valid new rating", class: "btn btn-primary" %>
        <% end %>
      </div>




    </li>
    <% end %>
  </ul>
</div>
<div>
  <h2>foreign bookings</h2>
  <!-- les personnes qui m ont loue un de mes instrument ou qui me demandent pour le louer -->
  <ul>
    <% @foreign_bookings.each do |booking| %>
    <li>
      <%= cl_image_tag booking.instrument.image, height: 150, width: 200, crop: :fill  %>
      <%= booking.instrument.title %>
      <%= cl_image_tag booking.user.avatar, id: "dashboard-avatar-user" %><br>
      from: <%= booking.start_date %> to: <%= booking.end_date %>
       <br>



       <div id="form-valid-abort-booking">

        <div id="form-valid-booking">
          <%= simple_form_for booking, remote: true, url: valid_booking_path(booking), method: :get do |f| %>
            <%= f.submit "valid", class: "btn btn-primary" %>
          <% end %>
        </div>

        <div id="form-abort-booking">
          <%= simple_form_for booking, remote: true, url: abort_booking_path(booking), method: :get do |f| %>
            <%= f.submit "abort", class: "btn btn-primary" %>
          <% end %>
        </div>
       </div>

        <p>
          status :
          <span id="booking-status">

            <% if booking.validated.nil? %>
              pending
            <% elsif booking.validated %>
              validated
            <% else %>
              aborted
            <% end %>

          </span>
        </p>



    </li>
    <% end %>
  </ul>
</div>
