<h1>my dashboard</h1>
<div>
  <h2>my instruments</h2>
  <p>
    <%= link_to "add", new_instrument_path , class: "btn btn-primary" %>
  </p>
  <ul>
    <% @instruments.each do |instrument| %>
    <li>
      <%= cl_image_tag instrument.image, height: 150, width: 200, crop: :fill  %>
      <%= instrument.title %>
      <%= link_to "edit", edit_instrument_path(instrument) , class: "btn btn-primary" %>
    </li>
    <% end %>
  </ul>
</div>
<div>
  <h2>my bookings</h2>
  <!-- les locations d instruments que j ai faites aupres d autres personnes -->
  <ul>
    <% @bookings.each do |booking| %>
    <li>
      <%= cl_image_tag booking.instrument.image, height: 150, width: 200, crop: :fill  %>
      <%= booking.instrument.title %>
      <%= cl_image_tag booking.instrument.user.avatar, id: "dashboard-avatar-user" %><br>
      from: <%= booking.start_date %> to: <%= booking.end_date %>
      <% if booking.validated.nil? %>
       - pending
      <% elsif booking.validated %>
       - validated
      <% else %>
       - aborted
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
<div>
  <h2>foreign bookings</h2>
  <!-- les personnes qui m ont loue un de mes instrument ou qui me demandent pour le louer -->
  <ul>
    <% @foreign_bookings.each do |booking| %>
    <li>
      <%= cl_image_tag booking.instrument.image, height: 150, width: 200, crop: :fill  %>
      <%= booking.instrument.title %>
      <%= cl_image_tag booking.user.avatar, id: "dashboard-avatar-user" %><br>
      from: <%= booking.start_date %> to: <%= booking.end_date %>
      <% if booking.validated.nil? %>
       <br>
       <%= link_to "validated", '#' , class: "btn btn-primary" %>
       <%= link_to "aborted", '#' , class: "btn btn-primary" %>
      <% elsif booking.validated %>
       - validated
      <% else %>
       - aborted
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
