<div class="background-instrument" >
  <h1 class="top"> Editing <%= @instrument.title %></h1>
  <div class="container text-center">
    <div class="instrument-form">
      <%= simple_form_for @instrument do |f| %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :category, collection: ['Guitare', 'Piano', 'Saxophone', 'Violon'] %>
      <%= f.input :price %>
      <%= f.input :address %>
      <%= f.input :image %>
      <%= f.input :image_cache, as: :hidden %>
      <%= f.submit "Done !", class: "btn waves-effect waves-light teal accent-4" %>

      <% end %>
    </div>
  </div>
  <p><%= link_to "Back to dashboard", dashboard_bookings_path , class:"btn waves-effect waves-light blue darken-3" %></p>
</div>
