<html>
  <head>
    <meta charset="utf-8">
    <title>@instruments</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="searcharea">
      <input type="text" placeholder="Ville.."
      <select name="category" id="search_category" class="select">
        <option value="Guitare">Guitare</option>
        <option value="Piano">Piano</option>
        <option value="Saxophone">Saxophone</option>
        <option value="Violon">Violon</option>
      </select>
      <button type="submit" class="lownav-btn">Search</button>
    </div>

    <div
       id="map"
       style="width: 100%;
       left: 490px;
       height: 600px;"
       data-markers="<%= @markers.to_json %>"
     ></div>

    <div class="container">
      <div class="row">
        <% @instruments.each do |instrument| %>
        <div class="col-md-3">
          <div class="card" style="background-image: url(<%= instrument.image %>);">
            <h2><%= instrument.title %></h2>
            <p><%= instrument.price %></p>
            <p><%= @datas["instrument.id"][:average] %></p>
            <p><%= @datas["instrument.id"][:count] %></p>
            <p><%= instrument.city %></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
