<div class="container max-width">
  <div class="row" id="search">
    <div class="head-form">
      <%= simple_form_for 'search', method: :get, url: instruments_path do |f| %>
        <div class="form-group col-sm-4 col-xs-6">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find an instrument"
          %>
        </div>
        <div class="form-group col-sm-4 col-xs-6">
          <%= f.input :category, collection: Instrument.categories, label: false, selected: @category %>
        </div>
        <div class="form-group col-sm-4 col-xs-6">
          <%= f.submit "Search", class: "btn-search" %>
        </div>
      <% end %>
    </div>
<!--
      <select data-filter="make" class="filter-make filter form-control" name="category">
        <option value="Guitare">Guitare</option>
        <option value="Piano">Piano</option>
        <option value="Saxophone">Saxophone</option>
        <option value="Violon">Violon</option>
      </select>
-->
      <!-- <button type="submit" class="btn-search">Search</button> -->
    <!-- </form>. -->
  </div>


  <div class="main-container">
    <div class="row">
      <% @instruments.each do |instrument| %>
      <div class="col-xs-12 col-sm-6 col-md-4 card-container">
        <div class="card" style="background-image: url(<%= cl_image_path instrument.image %>);">
          <%= link_to "", instrument_path(instrument), class: "card-link" %>
        </div>
        <p><%= instrument.address %></p>
        <P>Average rating : <%= instrument.bookings.average(:rating) %></P>
        <p>Booked <%= Booking.where(instrument_id: instrument.id).count %> times</p>
      </div>
      <% end %>
    </div>
    <div id="map" data-markers="<%= @markers.to_json %>"></div>
  </div>
</div>

