    <div class="container">
      <div class="row" id="search">
        <form id="search-form" action="<%= instruments_path %>" method="GET">
          <div class="form-group col-sm-4 col-xs-6">
            <input id="instrument_city" class="form-control" type="text" placeholder="Search by city" name="City" />
          </div>
          <div class="form-group col-sm-4 col-xs-6">
            <select data-filter="make" class="filter-make filter form-control" name="category">
              <option value="Guitare">Guitare</option>
              <option value="Piano">Piano</option>
              <option value="Saxophone">Saxophone</option>
              <option value="Violon">Violon</option>
            </select>
          </div>
          <div class="form-group col-sm-3 col-xs-6">
            <button type="submit" class="btn-search">Search</button>
          </div>
        </form>
      </div>
    </div>


    <% @instruments.each do |instrument| %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: url(<%= cl_image_path instrument.image %>);">
          <%= link_to "", instrument_path(instrument), class: "card-link" %>
          <!-- ajouter ici les infos de rating moyen + nombre de bookings -->
          <p><em><%= instrument.city %></em></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>

    <div
       id="map"
       style="width: 100%;
       left: 490px;
       height: 600px;"
       data-markers="<%= @markers.to_json %>"
     ></div>
