
<!--
<div class="background-instrument"  style="background-image: url('https://res.cloudinary.com/dwoel6eny/image/upload/v1527728794/qkzd59rfhujbnsoezpsy.jpg');">
 -->
<div class="background-instrument" style="color: black">
  <div class="container container-instrument">
    <div class="row">
      <h1>Add a new instrument</h1>
      <div class="col-xs-12 instrument-form">
        <%= simple_form_for @instrument do |f| %>
          <%= f.input :title, :input_html => {:maxlength => 50} %>
          <%= f.input :description %>
          <%= f.input :category, collection: Instrument.categories %>
          <%= f.input :price %>
          <%= f.input :address %>
          <%= f.input :image %>
          <%= f.input :image_cache, as: :hidden %>
          <div class="center">
            <%= f.submit "VALIDATE", class: "btn btn-success large-button" %>
          </div>
          <%= link_to "Back", dashboard_bookings_path ,class:"btn btn-success small-button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
