<div class="container" style="color: black">

  <div class="info-container">
    <div>
      <%= cl_image_tag @instrument.image, height: 200, width: 300, crop: :fill %>
    </div>
    <div id="detail">
      <h2><%= @instrument.title %></h2>

      <p>
        Description : <%= @instrument.description %><br>
        Adresse : <%= @instrument.address %><br>
        bookings : <%= @nb_bookings %><br>
        <% if @nb_bookings > 0 %>
        <% avg_rating = (@sum_ratings/@nb_bookings).floor %>
        avg ratings : <%= avg_rating %>
        <% else %>
        no bookings yet
        <% end %>
      </p>
    </div>
  </div>

  <% if user_signed_in? %>
  <div id="reservation">
    <div>
      <p>Prix / jour : <span id="unit-price"><%= @instrument.price %></span>  EUR</p>
      <p>Total: <span id="total-price"></span></p>
    </div>

    <div>
      <%= simple_form_for [@instrument, @booking] do |f| %>
      <%= f.input :start_date, as: :string, input_html: { class: "datepicker", id:"datepicker-start", value: Time.now.strftime('%d-%m-%Y') }%>
      <%= f.input :end_date, as: :string, input_html: { class: "datepicker", id:"datepicker-end", value: Time.now.strftime('%d-%m-%Y') } %>
      <%= f.submit "Book this instrument", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <% else %>
    <p>
      You have to be connected to book an instrument
    </p>
  <% end %>

</div>
